---
import { projects } from "../../data/projects";
import { Code } from "astro/components";
---

<div class="sm:pt-10">
  <!-- <h3 class="text-center text-4xl mb-5">Projects</h3> -->
  {
    projects.map((project) => (
      <div class="mb-16 grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <p class="text-2xl mb-2">
            {/* prettier-ignore */}
            <a class="text-violet-500 hover:text-violet-400 underline" href={project.href} target="_blank">{project.name}</a>
            <span>({project.language})</span>
          </p>
          <p>{project.description}</p>
        </div>
        <div>
          {"codeSample" in project && <Code code={project.codeSample} lang={project.codeLanguage} />}
          {"imageUrl" in project && <img src={project.imageUrl} />}
        </div>
      </div>
    ))
  }
</div>
